<p><a href=../wmlclient>Volver al inicio</a></p>
<h3>GetSitesByBoxObject</h3>
<form method=GET>
	<label for="endpoint">Service endpoint</label>
	<input type=text title="WaterOneFlow WaterML Service URL" name=endpoint value={{endpoint}} /><br>
	<label for="north">north</label>
	<input type=text title="latitude of north bound" name=north value={{north}}></input><br>
	<label for="south">south</label>
	<input type=text title="latitude of south bound" name=south value={{south}}></input><br>
	<label for="east">east</label>
	<input type=text title="longitude of east bound" name=east value={{east}}></input><br>
	<label for="west">west</label>
	<input type=text title="longitude of west bound" name=west value={{west}}></input><br>
	<input type=submit />
</form>
<p id=response>No results found!</p>
